.swiper-slide-active {
  .slide {
    .slide__background {
      animation: scaleUp 10s ease forwards;
      will-change: auto;
      transition: transform 10s ease;
    }
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
