@mixin cta-style {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 6px;
  border: none;
  color: #fff;
  margin-top: auto;
  cursor: pointer;
  text-decoration: none;
}

@mixin nav-arrow-styles {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 36px;
  z-index: 999;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  &:not(.arrow--disabled):hover {
    opacity: 0.8;
  }
}
