.modal {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    display: flex;
    width: 814px;
    border-radius: 35px;
    border: 1px;
    padding: 50px;
    overflow: hidden;
    border: 1px solid #939393;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #ffffff20;
  }

  &__column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    width: 65%;

    & img,
    & video {
      width: 484px;
      height: 327px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__play {
    position: absolute;
    background-color: transparent;
    border: none;
  }

  &--video-is-playing {
    top: 10px;
    right: 20px;
    width: 38px;
    height: 38px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &--video-is-paused {
    top: 50%;
    left: 50%;
    width: 104px;
    height: 104px;
    transform: translate(-50%, -50%);
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__column-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    width: 35%;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
  }

  &__text {
    font-size: 19px;
    margin-bottom: 20px;
  }

  &__cta {
    @include cta-style();
    margin-top: auto;
  }
}
