.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 75%;
    background-color: #00000045;
    box-shadow: 0 0 100px 100px #00000045;
    border-radius: 100px;
  }

  &__title {
    font-family: "Hiragino Sans";
    font-size: 61px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 19px;
    margin-bottom: 30px;
  }

  &__cta {
    @include cta-style();
    text-decoration: none;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  &__location-icon {
    width: 20px;
    margin-right: 5px;
  }
}
