.arrow {
  &__left {
    @include nav-arrow-styles();
    left: 90px;
    background-image: url(../assets/arrow-left.svg);
  }

  &__right {
    @include nav-arrow-styles();
    right: 90px;
    background-image: url(../assets/arrow-right.svg);
  }
  &--disabled {
    opacity: 0.3;
    cursor: default;
  }
}
