// change default swiper variables
:root {
  --swiper-theme-color: #d9d9d9 !important;
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bottom: 14px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}

.swiper {
  height: 100vh;
}

.carousel {
  &__slide {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 60px;
    z-index: 9999;
    pointer-events: none;
  }
}
